@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-vk:before {
  content: "\e900";
}

.icon-discord:before {
  content: "\e901";
}

.icon-telegram:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #939393;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #0D0D0D;
  font-weight: 700;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 103.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.gold {
  background: -o-linear-gradient(0.23deg, #FFD646 -8.23%, #FFEAA0 95.87%);
  background: linear-gradient(89.77deg, #FFD646 -8.23%, #FFEAA0 95.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  -o-transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  will-change: contents;
}

.gold:hover {
  -webkit-filter: contrast(1.2);
          filter: contrast(1.2);
}

.yellow-btn {
  background: -o-linear-gradient(50.03deg, #FFE073 -14.96%, #FFC700 137.97%);
  background: linear-gradient(39.97deg, #FFE073 -14.96%, #FFC700 137.97%);
  border: 1.50217px solid #FFE99D;
  border-radius: 7.51087px;
  color: #5F4E11;
  padding: 1.4375rem 2.75rem;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  -o-transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
}

.yellow-btn:hover {
  -webkit-filter: contrast(1.2);
          filter: contrast(1.2);
}

.gray-btn {
  padding: 1.4375rem 2.75rem;
  background: #1E1E1E;
  border: 0.751087px solid #8E8E8E;
  border-radius: 7.51087px;
  color: #999999;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  -o-transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
}

.gray-btn:hover {
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

.gold-label {
  background: -webkit-gradient(linear, left top, right top, from(#FFC700), color-stop(41.69%, #FFE791));
  background: -o-linear-gradient(left, #FFC700 0%, #FFE791 41.69%);
  background: linear-gradient(90deg, #FFC700 0%, #FFE791 41.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header {
  background: #111111;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 144px;
  position: relative;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 4.6875rem;
  position: relative;
  z-index: 5;
}

.header__menu {
  position: relative;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social a:not(:last-child) {
  margin-right: 1.25rem;
}

.header__social a {
  font-size: 1rem;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__social a:hover {
  color: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 3.125rem;
}

.menu__link {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__link:hover {
  color: #fff;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #171717;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0rem;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__link {
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.footer__link:hover {
  color: #fff;
}

.footer__social {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social a:not(:last-child) {
  margin-right: 2.0625rem;
}

.footer__social a {
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.footer__social a:hover {
  color: #fff;
}

.block-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-footer__left-col {
  margin-right: 13.4375rem;
}

.top {
  position: relative;
}

.top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__decoration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 40.625rem;
  width: 800px;
}

.top__decoration img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: top;
     object-position: top;
}

.leftblock-top__body {
  position: relative;
  z-index: 2;
}

.leftblock-top__title {
  margin-top: 7.1875rem;
  width: 800px;
}

.leftblock-top__title h1 {
  color: #fff;
  font-size: 4.5rem;
  line-height: 98px;
}

.leftblock-top__descr {
  margin-top: 2.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  width: 621px;
  line-height: 1.875;
}

.leftblock-top__btns-block {
  margin-top: 3.4375rem;
}

.leftblock-top__btn {
  font-size: 1.5rem;
}

.leftblock-top__btn:first-child {
  margin-right: 0.9375rem;
}

.rightblock-top {
  margin-left: -7.5rem;
  margin-top: 2.5rem;
}

.swiper {
  position: relative;
}

.swiper-wrapper {
  width: 1050px;
}

.swiper-slide img {
  height: 850px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.fav {
  position: relative;
}

.fav__decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 500px;
  z-index: -1;
}

.fav__decoration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.fav__body {
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6.25rem;
}

.fav__label h2 {
  font-size: 3.625rem;
  line-height: 1.724137931;
  color: #fff;
  text-align: center;
}

.fav__descr {
  font-size: 1.5rem;
  line-height: 2.0833333333;
  margin-bottom: 4.375rem;
  text-align: center;
}

.grid-fav__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.item-fav__body {
  border-radius: 18.1577px;
  width: 100%;
}

.item-fav__img {
  position: relative;
}

.item-fav__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item-fav__block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.02%, #101010), color-stop(306.61%, rgba(16, 16, 16, 0.07)));
  background: -o-linear-gradient(bottom, #101010 0.02%, rgba(16, 16, 16, 0.07) 306.61%);
  background: linear-gradient(0deg, #101010 0.02%, rgba(16, 16, 16, 0.07) 306.61%);
  -webkit-backdrop-filter: blur(21.184px);
          backdrop-filter: blur(21.184px);
  border-radius: 18.1577px;
  padding: 0rem 2.5rem;
}

.block-fav__body {
  height: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-fav__title h3 {
  font-size: 1.725rem;
  line-height: 2.2222222222;
  color: #fff;
}

.block-fav__btn {
  padding: 1.25rem 4.25rem;
  background: #252525;
  border: 1.29886px solid #595959;
  border-radius: 8.64654px;
  -webkit-transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  -o-transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
  transition: all 0.5s cubic-bezier(0.2, 0.17, 0, 0.74) 0s;
}

.block-fav__btn:hover {
  background: #FFC700;
  border: 1.29886px solid #FFE99D;
  color: #5F4E11;
}

@media (max-width: 105em) {
  [class*=__container] {
    max-width: 71.875rem;
  }

  .footer__block {
    margin-bottom: 3.125rem;
  }

  .leftblock-top__title {
    width: 750px;
  }

  .leftblock-top__descr {
    width: 580px;
  }

  .rightblock-top {
    margin-left: -15.625rem;
  }

  .grid-fav__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 35em) {
  .block-fav__body {
    height: 6.25rem;
  }
}

@media (max-width: 74.99875em) {
  [class*=__container] {
    max-width: 60.625rem;
  }

  .header__logo {
    margin-right: 2.5rem;
  }

  .menu__item {
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 1.875rem;
  }

  .block-footer__left-col {
    margin-right: 7.5rem;
  }

  .top__decoration {
    display: none;
  }

  .rightblock-top {
    margin-left: -30rem;
  }

  .swiper-slide {
    opacity: 0.4;
  }

  .block-fav__body {
    height: 100px;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .footer__social a {
    font-size: 1.75rem;
  }

  .top__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .leftblock-top__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .leftblock-top__title {
    width: 100%;
    text-align: center;
    margin-top: 3.125rem;
  }

  .leftblock-top__descr {
    width: 100%;
    text-align: center;
  }

  .rightblock-top {
    margin-left: 0rem;
    margin-top: -31.25rem;
  }

  .grid-fav__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .block-fav__body {
    height: 9.375rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.625rem;
  }

  .header__social a {
    font-size: 1.5625rem;
  }

  .header__social a:not(:last-child) {
    margin-right: 2.1875rem;
  }

  .menu__body {
    position: absolute;
    top: -60px;
    left: -120px;
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body.open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .menu__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }

  .menu__item:not(:last-child) {
    margin-right: 0rem;
  }

  .menu__link {
    font-size: 1.625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFD646;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .icon-menu.open span {
    width: 0;
  }

  .icon-menu.open::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu.open::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .leftblock-top__title h1 {
    font-size: 3.75rem;
  }

  .fav__decoration {
    height: 18.75rem;
    width: 25rem;
  }
}

@media (max-width: 40.375em) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__item {
    text-align: center;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .footer__social {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .block-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 250px;
  }

  .block-footer__left-col {
    margin-right: 0rem;
  }

  .block-footer__right-col {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 36.25em) {
  .leftblock-top__title h1 {
    font-size: 2.8125rem;
    line-height: 1.3333333333;
  }

  .leftblock-top__btns-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .leftblock-top__btn:first-child {
    margin-right: 0rem;
    margin-bottom: 1.875rem;
  }

  .rightblock-top {
    margin-top: -37.5rem;
  }

  .swiper-wrapper {
    width: 600px;
  }
}

@media (max-width: 34.375em) {
  .fav__body {
    margin-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .fav__label h2 {
    font-size: 2.8125rem;
    line-height: 1.1111111111;
  }
}

@media (max-width: 29.99875em) {
  .item-fav__block {
    padding: 0rem 0.625rem;
  }
}

@media (max-width: 25.625em) {
  .block-fav__btn {
    padding: 1.25rem 2.5rem;
  }
}